ddgs==9.16.0
fastapi==0.141.1
faster-whisper==1.2.1
inquirer==3.4.1
langchain==1.4.2
langchain-core==1.6.5
langchain-ollama==1.1.0
langchain-postgres==0.0.18
langgraph==1.2.12
numpy==2.5.3
pgvector==0.3.6
playwright==1.63.0
psycopg2==2.9.13
pydantic==2.13.5
python-dotenv==1.2.3
scalar-fastapi==1.9.0
sounddevice==0.5.6
uvicorn==0.53.0
